{% extends "layout.html" %}

{% block content %}
<style>
    .team-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 20px;
        background: #fff;
        overflow: hidden;
    }

    .team-header {
        background-color: #176d9c;
        color: white;
        padding: 12px 16px;
        font-size: 18px;
        font-weight: bold;
    }

    .team-body {
        padding: 15px;
    }
</style>
<h1>Teams</h1>

{% for team in teams %}
    <div class = "team-card">
        <div class = "team-header">
            <h3>{{ team.teamName }}</h3>
        </div>
        <div class="team-body">
        <p><strong>Department:</strong> {{ team.department }}</p>
        <p><strong>Skills:</strong> {{ team.keySkillsAndTechnologies }}</p>
        {% if team.manager and team.manager.engineerEmail %}
            <a href="mailto:{{ team.manager.engineerEmail }}" class="btn btn-primary">
                Email Team
            </a>
        {% else %}
            <button class="btn btn-secondary" disabled>No Email</button>
        {% endif %}
        <p><strong>Upstream Dependency:</strong></p>
        <ul>
            {% for dep in team.outgoing_dependencies.all %}
                <li>{{ dep.targetTeam.teamName }}
                    {% if dep.dependencyType %}
                        — {{ dep.dependencyType }}
                    {% endif %}
                </li>

            {% empty %}
                <li>None</li>
            {% endfor %}
        </ul>

        <p><strong>Downstream Dependency:</strong></p>
        <ul>
            {% for dep in team.incoming_dependencies.all %}
                <li>{{ dep.sourceTeam.teamName }}
                    {% if dep.dependencyType %}
                        — {{ dep.dependencyType }}
                    {% endif %}
                </li>
            {% empty %}
                <li>None</li>
            {% endfor %}
        </ul>
        <a href="{% url 'schedule' %}?team={{ team.teamName }}" class="btn btn-secondary">
            Schedule Meeting
        </a>
        </div>
    </div>
{% empty %}
    <p>No teams found.</p>
{% endfor %}

{% endblock %}